.progress-calculator {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .item {
    width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    height: 118px;
    flex: none;
    transition: all 0.5s 0s;

    .title {
      display: inline-block;
      font: {
        size: 20px;
      };
      color: $color-white;
      margin-bottom: 18px;
      transform: translateY(-20px);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s 0s;
    }
    .value-container {
      display: flex;
      align-items: center;
      transform: translateY(20px);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s 0s;

      span {
        display: inline-block;
        font: {
          size: 30px;
        };
        color: $color-white;
        margin: 0 5px;
      }
    }

    &.price-progress {
      background-color: #fab1a0;
    }
    &.bonus-progress {
      background-color: #a29bfe;
    }
    &.comission-progress {
      background-color: #6c5ce7;
    }

    &.shown {
      .title, .value-container {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}