.fr-sidebar {

  &__logo {
    position: absolute;
    top: 24px;
    left: 20px;

    & > img {
      width: 4rem;
    }
  }
  &__menu {
    margin: 128px 0 0;
    padding: 0;

    &--active {
      background-color: $white;
      .icon{
        color: #242232!important;
      }
      a {
        color: #1c1616!important;
      }
    }

    li {
      padding: 0.5rem 1.125rem;

      .icon {
        font-size: 0.75rem;
        margin-right: 18px;
        color: #fff;
        opacity: 0.8;
      }

      &:hover {
        background-color: $white;
        cursor: pointer;

        .icon {
          color: #242232!important;
        }
        a {
          color: #1c1616!important;
        }
      }
      a {
        display: inline-block;
        font-size: 0.875rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: $white;
        text-decoration: none;
      }
    }
  }

  .fr-sidebar-bm {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    &__statistics {
      width: 208px;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.08);
    }
    &__statistics-cont {
      padding-top: 1rem;
    }
    .fr-sidebar-bm__statistics-btn {
      height: 40px;
      text-align: center;
      padding: 0.5rem 0;

      & > a {
        font-size: 0.875rem;
        line-height: 1.71;
        color: $white;
        text-decoration: none;
      }
    }
  }
}